In [2]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_excel('人口.xlsx')

In [7]:
data

,年份,城镇人口数,乡村人口数,城乡人口比例,每十万人中受大专及以上教育人口,每十万人中受高中和中专教育人口,每十万人中受初中教育人口,每十万人中受小学教育人口
0,2020,90199,50979,1.769336,15467.0,15088.0,34507.0,24767.0
1,2010,66557,67419,0.987214,8930.0,14032.0,38788.0,26779.0
2,2000,45844,80739,0.567805,3611.0,11146.0,33961.0,35701.0
3,1990,29971,83397,0.359377,1422.0,8039.0,23344.0,37057.0
4,1982,21082,79736,0.264398,615.0,6779.0,17892.0,35237.0
5,1964,12710,56748,0.223973,416.0,1391.0,4680.0,28330.0
6,1953,7726,50534,0.152887,NaN,NaN,NaN,NaN

In [6]:
L = list(data['年份'])
L.sort()
L

[1953, 1964, 1982, 1990, 2000, 2010, 2020]

In [9]:
L = list(data['城镇人口数'])
L.sort()
L

[7726, 12710, 21082, 29971, 45844, 66557, 90199]

In [10]:
L = list(data['乡村人口数'])
L.sort()
L

[50534, 50979, 56748, 67419, 79736, 80739, 83397]

In [22]:
L = list(data['城乡人口比例'])
L.sort()
i=0
for ele in L:
    L[i] = eval(format(ele,'.2f'))
    i += 1
L

[0.15, 0.22, 0.26, 0.36, 0.57, 0.99, 1.77]

In [14]:
format(2.222,'.2f')

'2.22'

In [6]:
dt = pd.read_excel('年度数据.xls')

In [7]:
dt

,指标,2022年,2021年,2020年,2019年,2018年,2017年,2016年,2015年,2014年,...,1958年,1957年,1956年,1955年,1954年,1953年,1952年,1951年,1950年,1949年
0,年末总人口(万人),141175,141260,141212,141008,140541,140011,139232,138326,137646,...,65994,64653,62828,61465,60266,58796,57482,56300,55196,54167
1,男性人口(万人),72206,72311,72357,72039,71864,71650,71307,70857,70522,...,34195,33469,32536,31809,31242,30468,29833,29231,28669,28145
2,女性人口(万人),68969,68949,68855,68969,68677,68361,67925,67469,67124,...,31799,31184,30292,29656,29024,28328,27649,27069,26527,26022
3,城镇人口(万人),92071,91425,90220,88426,86433,84343,81924,79302,76738,...,10721,9949,9185,8285,8249,7826,7163,6632,6169,5765
4,乡村人口(万人),49104,49835,50992,52582,54108,55668,57308,59024,60908,...,55273,54704,53643,53180,52017,50970,50319,49668,49027,48402

In [41]:
c = dt.columns.values
c.sort()
c = list(c)
c.pop()
for i in range(len(c)):
    tem = list(c[i])
    tem.pop()
    c[i] = '' + tem[0] + tem[1] + tem[2] + tem[3]
    c[i] = eval(c[i])
print(c)

[1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]

In [29]:
list('123')

['1', '2', '3']

In [34]:
lst = ['1', '2', '3']
map(str,lst)
lst

['1', '2', '3']

In [45]:
y = dt.iloc[0,:]

In [55]:
l = y.values
# l.sort()
l = list(l)
l.pop(0)
l.sort()
l

[54167,
 55196,
 56300,
 57482,
 58796,
 60266,
 61465,
 62828,
 64653,
 65859,
 65994,
 66207,
 67207,
 67296,
 69172,
 70499,
 72538,
 74542,
 76368,
 78534,
 80671,
 82992,
 85229,
 87177,
 89211,
 90859,
 92420,
 93717,
 94974,
 96259,
 97542,
 98705,
 100072,
 101654,
 103008,
 104357,
 105851,
 107507,
 109300,
 111026,
 112704,
 114333,
 115823,
 117171,
 118517,
 119850,
 121121,
 122389,
 123626,
 124761,
 125786,
 126743,
 127627,
 128453,
 129227,
 129988,
 130756,
 131448,
 132129,
 132802,
 133450,
 134091,
 134916,
 135922,
 136726,
 137646,
 138326,
 139232,
 140011,
 140541,
 141008,
 141175,
 141212,
 141260]

In [3]:
trans = pd.read_excel('B0706.xls',index_col=0)

In [4]:
trans = pd.read_excel('B0706.xls',index_col=0)
beijing = trans['北京'].sort_values()
for i in range(len(beijing)):
    tem = beijing.index[i]
    tem = tem.replace(" ","")
    str_ = " [{a}name:\'北京\' {b}, {c} name:\'{city}\',value:{value} {d}], ".format(
        city = tem,
        value = beijing.iloc[i],
        a = '{',
        b = '}',
        c = '{',
        d = '}'
                                                                                   )
    print(str_)

 [{name:'北京' }, { name:'北京',value:0 }],
 [{name:'北京' }, { name:'西藏',value:162 }],
 [{name:'北京' }, { name:'青海',value:222 }],
 [{name:'北京' }, { name:'宁夏',value:547 }],
 [{name:'北京' }, { name:'广西',value:609 }],
 [{name:'北京' }, { name:'贵州',value:649 }],
 [{name:'北京' }, { name:'云南',value:703 }],
 [{name:'北京' }, { name:'江西',value:706 }],
 [{name:'北京' }, { name:'新疆',value:748 }],
 [{name:'北京' }, { name:'甘肃',value:759 }],
 [{name:'北京' }, { name:'黑龙江',value:789 }],
 [{name:'北京' }, { name:'海南',value:822 }],
 [{name:'北京' }, { name:'吉林',value:919 }],
 [{name:'北京' }, { name:'重庆',value:969 }],
 [{name:'北京' }, { name:'湖南',value:1017 }],
 [{name:'北京' }, { name:'福建',value:1177 }],
 [{name:'北京' }, { name:'山西',value:1713 }],
 [{name:'北京' }, { name:'内蒙古',value:1733 }],
 [{name:'北京' }, { name:'湖北',value:1927 }],
 [{name:'北京' }, { name:'陕西',value:1980 }],
 [{name:'北京' }, { name:'河南',value:2037 }],
 [{name:'北京' }, { name:'辽宁',value:2103 }],
 [{name:'北京' }, { name:'安徽',value:2139 }],
 [{name:'北京' }, { name:'四川',value:2706 }],
 [{name:'北京' }, { name:'江苏',value:2795 }],
 [{name:'北京' }, { name:'浙江',value:3048 }],
 [{name:'北京' }, { name:'山东',value:3268 }],
 [{name:'北京' }, { name:'上海',value:3781 }],
 [{name:'北京' }, { name:'天津',value:4836 }],
 [{name:'北京' }, { name:'广东',value:5923 }],
 [{name:'北京' }, { name:'河北',value:13861 }],
 [{name:'北京' }, { name:'全国',value:64648 }],

In [5]:
trans = pd.read_excel('B0706.xls',index_col=0)
beijing = trans['四川'].sort_values()
for i in range(len(beijing)):
    tem = beijing.index[i]
    tem = tem.replace(" ","")
    str_ = " [{a}name:\'四川\' {b}, {c} name:\'{city}\',value:{value} {d}], ".format(
        city = tem,
        value = beijing.iloc[i],
        a = '{',
        b = '}',
        c = '{',
        d = '}'
                                                                                   )
    print(str_)

 [{name:'四川' }, { name:'四川',value:0 }],
 [{name:'四川' }, { name:'吉林',value:2470 }],
 [{name:'四川' }, { name:'宁夏',value:3507 }],
 [{name:'四川' }, { name:'黑龙江',value:3514 }],
 [{name:'四川' }, { name:'青海',value:4889 }],
 [{name:'四川' }, { name:'内蒙古',value:6044 }],
 [{name:'四川' }, { name:'天津',value:6633 }],
 [{name:'四川' }, { name:'甘肃',value:8014 }],
 [{name:'四川' }, { name:'江西',value:8152 }],
 [{name:'四川' }, { name:'辽宁',value:9374 }],
 [{name:'四川' }, { name:'广西',value:9552 }],
 [{name:'四川' }, { name:'山西',value:9615 }],
 [{name:'四川' }, { name:'湖南',value:10562 }],
 [{name:'四川' }, { name:'河南',value:10564 }],
 [{name:'四川' }, { name:'海南',value:10983 }],
 [{name:'四川' }, { name:'安徽',value:12012 }],
 [{name:'四川' }, { name:'西藏',value:12954 }],
 [{name:'四川' }, { name:'陕西',value:18184 }],
 [{name:'四川' }, { name:'河北',value:18814 }],
 [{name:'四川' }, { name:'山东',value:19607 }],
 [{name:'四川' }, { name:'湖北',value:23167 }],
 [{name:'四川' }, { name:'北京',value:29352 }],
 [{name:'四川' }, { name:'贵州',value:36002 }],
 [{name:'四川' }, { name:'云南',value:49094 }],
 [{name:'四川' }, { name:'上海',value:55422 }],
 [{name:'四川' }, { name:'江苏',value:76452 }],
 [{name:'四川' }, { name:'新疆',value:78667 }],
 [{name:'四川' }, { name:'福建',value:83858 }],
 [{name:'四川' }, { name:'重庆',value:139749 }],
 [{name:'四川' }, { name:'浙江',value:159977 }],
 [{name:'四川' }, { name:'广东',value:303379 }],
 [{name:'四川' }, { name:'全国',value:1220563 }],

In [6]:
trans = pd.read_excel('B0706.xls',index_col=0)
beijing = trans['海南'].sort_values()
for i in range(len(beijing)):
    tem = beijing.index[i]
    tem = tem.replace(" ","")
    str_ = " [{a}name:\'海南\' {b}, {c} name:\'{city}\',value:{value} {d}], ".format(
        city = tem,
        value = beijing.iloc[i],
        a = '{',
        b = '}',
        c = '{',
        d = '}'
                                                                                   )
    print(str_)

 [{name:'海南' }, { name:'海南',value:0 }],
 [{name:'海南' }, { name:'西藏',value:26 }],
 [{name:'海南' }, { name:'青海',value:48 }],
 [{name:'海南' }, { name:'宁夏',value:89 }],
 [{name:'海南' }, { name:'内蒙古',value:126 }],
 [{name:'海南' }, { name:'甘肃',value:186 }],
 [{name:'海南' }, { name:'黑龙江',value:268 }],
 [{name:'海南' }, { name:'辽宁',value:354 }],
 [{name:'海南' }, { name:'山西',value:361 }],
 [{name:'海南' }, { name:'天津',value:363 }],
 [{name:'海南' }, { name:'吉林',value:450 }],
 [{name:'海南' }, { name:'河北',value:494 }],
 [{name:'海南' }, { name:'新疆',value:499 }],
 [{name:'海南' }, { name:'陕西',value:505 }],
 [{name:'海南' }, { name:'安徽',value:514 }],
 [{name:'海南' }, { name:'贵州',value:532 }],
 [{name:'海南' }, { name:'云南',value:601 }],
 [{name:'海南' }, { name:'河南',value:616 }],
 [{name:'海南' }, { name:'山东',value:723 }],
 [{name:'海南' }, { name:'重庆',value:794 }],
 [{name:'海南' }, { name:'江西',value:1112 }],
 [{name:'海南' }, { name:'北京',value:1227 }],
 [{name:'海南' }, { name:'四川',value:1315 }],
 [{name:'海南' }, { name:'江苏',value:1397 }],
 [{name:'海南' }, { name:'湖北',value:1402 }],
 [{name:'海南' }, { name:'福建',value:1462 }],
 [{name:'海南' }, { name:'湖南',value:1497 }],
 [{name:'海南' }, { name:'浙江',value:1618 }],
 [{name:'海南' }, { name:'上海',value:1836 }],
 [{name:'海南' }, { name:'广西',value:1950 }],
 [{name:'海南' }, { name:'广东',value:27587 }],
 [{name:'海南' }, { name:'全国',value:49952 }],